.hotline{
    bottom: 25px;
    right: 25px;
    margin: auto 0 0 auto;
    text-align: right;
    position: fixed;
    left: 0;
    z-index: 1030;

}

.hotline img{
	width: 200px;
}

@media only screen and (max-width: 992px) {
  	#divLangToggle {
    	right: 27px;
    }
}

@media only screen and (min-width: 768px) {
  	.modal-dialog {
		top: 80px;
	}
}

@media only screen and (max-width: 767px) {
  	.hotline img{
		width: 150px;
	}
}