@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Asap-Bold';
	src: url('../fonts/font-asap/Asap-Bold.eot');
	src: url('../fonts/font-asap/Asap-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-asap/Asap-Bold.woff') format('woff'),
		url('../fonts/font-asap/Asap-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Asap-Regular';
	src: url('../fonts/font-asap/Asap-Regular.eot');
	src: url('../fonts/font-asap/Asap-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-asap/Asap-Regular.woff') format('woff'),
		url('../fonts/font-asap/Asap-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Asap-MediumItalic';
	src: url('../fonts/font-asap/Asap-MediumItalic.eot');
	src: url('../fonts/font-asap/Asap-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-asap/Asap-MediumItalic.woff') format('woff'),
		url('../fonts/font-asap/Asap-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Asap-Medium';
	src: url('../fonts/font-asap/Asap-Medium.eot');
	src: url('../fonts/font-asap/Asap-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-asap/Asap-Medium.woff') format('woff'),
		url('../fonts/font-asap/Asap-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Asap-Italic';
	src: url('../fonts/font-asap/Asap-Italic.eot');
	src: url('../fonts/font-asap/Asap-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-asap/Asap-Italic.woff') format('woff'),
		url('../fonts/font-asap/Asap-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Asap-BoldItalic.eot';
	src: url('../fonts/font-asap/Asap-BoldItalic.eot');
	src: url('../fonts/font-asap/Asap-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-asap/Asap-BoldItalic.woff') format('woff'),
		url('../fonts/font-asap/Asap-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNextLTPro-Regular';
	src: url('../fonts/font-avenir/AvenirNextLTPro-Regular.eot');
	src: url('../fonts/font-avenir/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-avenir/AvenirNextLTPro-Regular.woff') format('woff'),
		url('../fonts/font-avenir/AvenirNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Didot-Italic';
	src: url('../fonts/font-didot/Didot-Italic.eot');
	src: url('../fonts/font-didot/Didot-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-didot/Didot-Italic.woff') format('woff'),
		url('../fonts/font-didot/Didot-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Didot';
	src: url('../fonts/font-didot/Didot.eot');
	src: url('../fonts/font-didot/Didot.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-didot/Didot.woff') format('woff'),
		url('../fonts/font-didot/Didot.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TeXGyreTermes';
	src: url('../fonts/font-texgyre/TeXGyreTermes-Regular.eot');
	src: url('../fonts/font-texgyre/TeXGyreTermes-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-texgyre/TeXGyreTermes-Regular.woff') format('woff'),
		url('../fonts/font-texgyre/TeXGyreTermes-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TeXGyreTermes-Italic';
	src: url('../fonts/font-texgyre/TeXGyreTermes-Italic.eot');
	src: url('../fonts/font-texgyre/TeXGyreTermes-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font-texgyre/TeXGyreTermes-Italic.woff') format('woff'),
		url('../fonts/font-texgyre/TeXGyreTermes-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}