@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Asap';
	src: url('../fonts/woff2/subset-Asap-Italic.woff2') format('woff2'),
		url('../fonts/woff/subset-Asap-Italic.woff') format('woff'),
		url('../fonts/ttf/subset-Asap-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Asap';
	src: url('../fonts/woff2/subset-Asap-Regular.woff2') format('woff2'),
		url('../fonts/woff/subset-Asap-Regular.woff') format('woff'),
		url('../fonts/ttf/subset-Asap-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Asap';
	src: url('../fonts/woff2/subset-Asap-Medium.woff2') format('woff2'),
		url('../fonts/woff/subset-Asap-Medium.woff') format('woff'),
		url('../fonts/ttf/subset-Asap-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Asap';
	src: url('../fonts/woff2/subset-Asap-MediumItalic.woff2') format('woff2'),
		url('../fonts/woff/subset-Asap-MediumItalic.woff') format('woff'),
		url('../fonts/ttf/subset-Asap-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Asap';
	src: url('../fonts/woff2/subset-Asap-BoldItalic.woff2') format('woff2'),
		url('../fonts/woff/subset-Asap-BoldItalic.woff') format('woff'),
		url('../fonts/ttf/subset-Asap-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Asap';
	src: url('../fonts/woff2/subset-Asap-Bold.woff2') format('woff2'),
		url('../fonts/woff/subset-Asap-Bold.woff') format('woff'),
		url('../fonts/ttf/subset-Asap-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

