

/*************************
******* Registration Page******
**************************/
#contact_form{background-color: transparent;border: none;}
#secRegFooterContainer {position: relative; color: #b1a883; background-color: white;padding-top: 0;padding-bottom: 0;}
#imgFooter{margin: auto;}
#secRegFooterContainer p {color: #b1a883;font-size: 1em;}
#secRegFooterContainer a {  color: #b1a883;}
#secRegFooterContainer a:hover { color: #b1a883;}

#secRegBannerContainer {background-color: transparent;}



#regPageWrapper{background-color: black;}
#contact_form.well {margin-bottom: 0px;border-bottom: none;border-radius: 0 !important;}


.element-transparent{
background-color:rgba(0,0,0,0) !important;
border-color:#f8f8f8 !important;

  color:black;
}

.headerTxt{font-size: 1em;}

.form-horizontal{color: black;}
/* OSR - Begin styling palceholder */          
fieldset{border-color:transparent !important;}

.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }

/* OSR - End styling palceholder */  

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;margin-top: 0;padding-top: 0;
    padding: 0; 
    
    
    
    
}

label{height: 8px;margin-bottom: 0;padding-bottom: 0;}

.clsMandatoryLbl{font-size: .6em !important;color: black }

#secRegLangContainer{background-color: transparent;}
#divLanguage2{padding-top: 1%;color: black;}

#frmWrap{width: 100%;margin: auto;padding-top: 20px;}


#divPushAboveSubmit{height: 0;}


 /* OSR - Begin Customizing  select box */
select {
-webkit-appearance:none;
-moz-appearance:none;
-ms-appearance:none;
appearance:none;

background: rgba(0, 0, 0, 0) url(../img/down-arrow.png) no-repeat scroll 95% center / 10px 10px !important; 
border: 1px solid #ccc;
overflow: hidden;
padding: 6px 20px 6px 20px !important;
width: auto;
   
}
select:-moz-focusring { color: transparent;text-shadow: 0 0 0 black; }

.splSelect {background: rgba(0, 0, 0, 0) url(../img/down-arrow.png) no-repeat scroll 85% center / 10px 10px !important;}

/* OSR - End Customizing  select box */

.radoSpace {padding-left: 10px;}


.form-horizontal .form-group input{ padding-left: 20px;}



.rightPadLang{padding-right:5%;}

.clsOthersOption{display: none;}
.clsOthersOption2{display: none;}
.clsOthersOption3{display: none;}



#spnBr{padding-bottom:10px;}


#contact_form .has-error div {color: black;}

#contact_form .has-success div{color: black;} 

#txtSuccess{padding-top: 100px;padding-bottom: 100px;color: red;text-align: center;}
#txtSuccess a{color: red;}
        
/* OSR - Begin btn-custom - Styling */             
.btn-custom {
  background-color: #ada179;
  border-color: #ada179;
  color: #4a3e16;
  padding: 0;padding:5px;padding-right: 30px;padding-left: 35px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #b28f5b;
  border-color: #a5834e;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #ba9b6c;
  border-color: #ba9b6c;
}

.btn-custom:focus {outline:0 !important;}                
/* OSR - End btn-custom - Styling */  


