@media only screen and (max-width : 3000px) {
    
    #IntroBarInner{top:-20px;}
    #LocationBarInner{top:-20px;}
    
    #divlocationParllaxTxtWrap {width:20%;}
    
    
    #divPgKeyOuterTxtWrap{position:absolute}

    #divPgKeyTxtWrap{top:-300px;width:70%;padding-left:45%;}
    
    
    .clsOnlineAdv, .clsPrintedAdv,.clsOutdoorAdv,.clsSalesStaff,.t_c {display: none;}
   
    .btnSubmit{text-align: right}
    .btnReset{text-align: left}
    
    /* .parallax-window {min-height: 950px; } */
    
    .parallax-right-shape2{background-size: auto auto;}
    .parallax-left-shape2{background-size: auto auto;}
    .parallax-windowIndividual{min-height: 950px; }
    
    
    .clsArtImpression2{top:900px;padding-left: 150px;}
    
    #divIntroPgKeyTxtWrap{top:-670px;width:100%;padding-left:50%;}
    
    #divLocPgKeyTxtWrap{top:-850px;width:100%;padding-left:70%;}
    #divDevPgKeyTxtWrap{top:-800px;width:100%;padding-left:20%;}
    #divRegPgKeyTxtWrap{top:-620px;width:100%;padding-left:25%; }
    #divResPgKeyTxtWrap{top:-600px;width:100%;padding-left:0%;left: 300px;}
    
    .divRegPgKeyTxtWrapVN{top:-600px !important;padding-left:50% !important; }
}

@media only screen and (max-width : 2000px) {
  
    #IntroBarInner{top:8px;}
    #LocationBarInner{top:-20px;}
    
    #divlocationParllaxTxtWrap {width:27%;}
    
    #divPgKeyTxtWrap{width:75%;padding-left:40%; }
    
    /* .parallax-window {min-height: 800px; } */
    .parallax-windowIndividual{min-height: 800px; }
    
    
    .clsArtImpression2{top:700px;padding-left: 150px;}
    #divIntroPgKeyTxtWrap{top:-600px;width:100%;padding-left:50%;}
    
    #divLocPgKeyTxtWrap{top:-700px;width:100%;padding-left:63%;}
    #divDevPgKeyTxtWrap{top:-730px;width:100%;padding-left:20%;}
    #divRegPgKeyTxtWrap{top:-490px;width:100%;padding-left:30%; }
    #divResPgKeyTxtWrap{top:-700px;width:100%;padding-left:0%;left: 95px;}
    
   .divRegPgKeyTxtWrapVN{top:-500px !important;padding-left:50% !important; }
}

@media only screen and (max-width : 1800px) {
    
    #divlocationParllaxTxtWrap {width:33%;}
    #secIntroSlider .msd_slider_col_box img {width: 550px !important;}
  
    
}

@media only screen and (max-width : 1605px) {
    #secIntroSlider .msd_slider_col_box img {width: 550px !important;}
   .parallax-window {min-height: 600px; }
    .clsArtImpression2{top:550px;padding-left: 100px;}
    #divIntroPgKeyTxtWrap{top:-370px;width:100%;padding-left:30%;}
    #divDevPgKeyTxtWrap{top:-560px;width:100%;padding-left:20%;}
    
    #divLocPgKeyTxtWrap{top:-550px;width:100%;padding-left:55%;} 
    #divRegPgKeyTxtWrap{top:-390px;width:100%;padding-left:20%; }
    #divResPgKeyTxtWrap{top:-380px;width:100%;padding-left:0%;left: 80px;}
    
    .divRegPgKeyTxtWrapVN{top:-370px !important;padding-left:45% !important; }
}

@media only screen and (max-width : 1500px) {
    #divlocationParllaxTxtWrap {width:39%;}
   #secIntroSlider .msd_slider_col_box img {width: 550px !important;}
}

@media only screen and (max-width : 1370px) {
   
#secIntroSlider .msd_slider_col_box img {width: 550px !important;}
    

    #IntroBarInner{top:8px;}
    #LocationBarInner{top:-20px;}
    
    #divlocationParllaxTxtWrap {width:37%;}
    
    #divPgKeyTxtWrap{width:88%;}
    
    
    
    .parallax-window {min-height: 600px; }
    .clsArtImpression2{top:550px;padding-left: 100px;}
    #divIntroPgKeyTxtWrap{top:-370px;width:100%;padding-left:30%;}
    
    #divLocPgKeyTxtWrap{top:-550px;width:100%;padding-left:50%;}
    #divDevPgKeyTxtWrap{top:-530px;width:100%;padding-left:13%;}
    #divRegPgKeyTxtWrap{top:-410px;width:100%;padding-left:15%; }
    
    
}

@media only screen and (max-width : 1300px) {
    #secIntroSlider .msd_slider_col_box img {width: 550px !important;}
    #IntroBarInner{top:8px;}
    
    #divPgKeyTxtWrap{top:-300px;width:100%;padding-left:40%;}
    
    .divRegPgKeyTxtWrapVN{top:-340px !important;padding-left:33% !important; }
    
}


@media only screen and (max-width : 992px) {
    #secIntroSlider .msd_slider_col_box img {width: 450px !important;}
    #divPgKeyTxtWrap{top:-300px;width:100%;padding-left:40%;}

}


@media only screen and (max-width : 768px) {
#secIntroSlider .msd_slider_col_box img {width: 300px !important;}
#divPgKeyTxtWrap{top:-300px;width:100%;padding-left:35%;}
    
}

@media only screen and (max-width : 740px) {
    #secIntroSlider .msd_slider_col_box img {width: 250px !important;}
    /* ==========================================================================
    OSR - Template page
    ========================================================================== */
    #divPgKeyOuterTxtWrap{position:relative;white-space: normal;}
    #divPgKeyTxtWrap{position:relative;top:0px;padding:0%; width:100%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 150px;}
    
    #divIntroPgKeyTxtWrap{position:relative;top:0px;padding:0; width:100%; color: #0f2429;margin: 0 auto;padding-top: 30px;padding-left: 200px;}
    
    .DivBtnSubmit{text-align: center;height: 40px;}
    .divBtnReset{text-align: center;height: 40px;}
    .btnReset, .btnSubmit{width:130px;}
    
    #divLocPgKeyTxtWrap{position:relative;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 60px;}
    #divResPgKeyTxtWrap{position:relative;left:0;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    #divDevPgKeyTxtWrap{position:relative;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    #divRegPgKeyTxtWrap{position:relative;top:0px;padding:0; width:80%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    
    .divRegPgKeyTxtWrapVN{top:0px !important;padding-left:40px !important; }
    .btnResetVN, .btnSubmitVN{font-size: .9em;}
    .divDevPGTxt2Viet{padding-left:0%;}
}



@media only screen and (max-width : 480px) {
#secIntroSlider .msd_slider_col_box img {width: 250px !important;}
    body { padding-top: 65px !important; }
    
    body { font-size: .7em;}
    .navbar-header{padding-top: 10px;padding-bottom: 10px;padding-left: 5px;padding-right: 5px;} 
    
    .intro-slider{padding-top: 20px;}
    #IntroBarInner{top:-20px;}
    .clsBarInner{height: 40px;padding-top: 11px;}
    
    #imgHomeSec4Right-mobile{padding-top: 200px;}  
    #divHeroTxt{width:99%;top:5%;padding: 0;color: #673e53;margin: 0 auto;padding-left: 5px;padding-right: 5px;}
    
    #divIntroPgKeyTxtWrap{top:0px;padding:0; width:100%; margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    
    #divlocationParllaxTxtWrap,#divDeveloperParllaxTxtWrap{width:90%; }
    #divLocSlideTxt1{width:90%;}
    #divLocSlideHeadTxt1,#divLocSlideHeadTxt2{left:0%;}
    
    
    #divF8logoCol{text-align:center;padding-top: 30px;}
    #divDevbyCol{text-align: center;padding-left:0;padding-top: 20px;}
    #divMangedbycol{text-align: center;padding-left:0px;padding-top: 170px;}
    
    .clsBarInner{width:300px;}
   
    .parallax-right-shape{height:600px !important; background:url(../img/rightsidebar_mobile.png) top right no-repeat;}
    .parallax-left-shape{height:600px !important; background:url(../img/leftsidebar_mobile.png) top left no-repeat;}
    
    .parllaxpadding{padding-top: 25px;}
    
    
    
    /* ==========================================================================
    OSR - Template page
    ========================================================================== */
    
    #divPgKeyOuterTxtWrap{position:relative;}
    #divPgKeyTxtWrap{position:relative;top:0px;padding:0; width:100%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    
  
    #divIntroPgKeyTxtWrap{position:relative;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    #divLocPgKeyTxtWrap{position:relative;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    #divResPgKeyTxtWrap{position:relative;left:0;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    #divDevPgKeyTxtWrap{position:relative;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    #divRegPgKeyTxtWrap{position:relative;top:0px;padding:0; width:90%; color: #0f2429;margin: 0 auto;padding-top: 10px;padding-left: 40px;}
    
    
    #divPgKeyOuterTxtWrap{font-size: .8em;}
    
    #divIntroPgKeyTxtWrap{padding: 0;padding-top: 20px;padding-left: 80px;}
    #divDevPgKeyTxtWrap{padding-top: 15px;}
    #divRegPgKeyTxtWrap{padding-top: 20px; padding-left: 30px;}
    
    #divRegPgKeyVisHeadTxt1{text-align: left;padding-left: 20px;} 
    #divRegPgKeyVisHeadTxt2{padding-left: 10px;}
    
    #divResCommLegend{width:100% !important;}
    
    #divResPgKeyTxtWrap{padding-top: 20px;padding-bottom: 20px;width:100%!important;padding-left: 50px;}
    
    
}

@media only screen and (max-width : 375px) {

   #imgHomeSec4Right-mobile{padding-top: 250px;}
    
  
    .clsOnlineAdv{height: 15px; display:block;}
    .clsPrintedAdv{height: 15px; display:block;}
    .clsOutdoorAdv{height: 5px; display:block;}
}


@media only screen and (max-width : 370px) {

    .clsFamily{height: 15px; display:block;}
    .t_c{height: 15px; display:block;}
    
    #divIntroPgKeyTxtWrap{padding-left: 50px;}
    
    #divResPgKeyTxtWrap{padding-left: 38px;}
 
}

@media only screen and (max-width : 330px) {

     #divIntroPgKeyTxtWrap{padding-left: 30px;}
    #divResPgKeyTxtWrap{padding-left: 30px;}
    
}

