@charset "UTF-8";
/* CSS Document */
#main-navbar-cover{background-color:#fff; width:100%; height:100%; top:0; left:0; z-index:99; display:none;} /*position:fixed;*/
#msd-navbar #my-nav{height:auto!important;background-color:#fff;}
#msd-navbar #my-nav ul{margin:0;}
#msd-navbar #my-nav ul li{background:none; margin:0;}
#msd-navbar #my-nav ul li a{padding:30px 0px!important;
-webkit-transition-duration: 0.4s!important; /* Safari */
    transition-duration: 0.4s!important;
}
#msd-navbar #my-nav ul li a:hover{color:#fff;}

.clsPurple{padding-top:20%!important;}
@media (max-width:990px) {.clsPurple{padding-top:10px!important;}}

.groupheader{max-width:550px; width:100%; margin:0 auto;text-align: center;}
@media (max-width:414px){.groupheader{max-width:none!important;}}

/* Nav 1 */
#divMenu #divMenuInner ul li{text-align:left;}
#divMenu #divMenuInner ul li:nth-child(1){display:inline-block; text-align:left;}
#divMenu #divMenuInner ul li a{padding-left:40px;padding-right: 40px;}
#divMenu #divMenuInner #my-nav{text-align:left;}


/* NAV BAR */
.navbar-header{}
.navbar-header .breadcrumbx{display:inline-block; font-family: 'TeXGyreTermes-Regular'; font-size:16px; text-transform:uppercase; padding-top:14px;display: none;}
.navbar-header .breadcrumbx:before{content:'\232A'; color:#fff; font-size:16px;}


/* Mobile Nav */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border:none;}


/* Interactive menu button */
.main-navbar .navbar-toggle{background:none!important;}
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 300ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -4px;
	  transform: rotate(-45deg);
}

@keyframes shake {
  0%, 50% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30% {
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  20%, 40% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}
/* LIGHTBOX */
.blackbox_shade{background:url(../images/transparent1.png); position:fixed; width:100%; height:100%; top:0; left:0; z-index:9990; display:none;}
.blackbox{position:absolute; width:100%; height:100%; top:0; left:0; z-index:9999; display:none;}
.blackbox .blackbox_control,
.fancybox-overlay .blackbox_control{position:fixed; width:100%; text-align:right; margin-bottom:20px; z-index:9999;}
.blackbox .blackbox_container{width:100%; height:100%; text-align:center;}
.blackbox .blackbox_container iframe{border:1px solid #666; margin-top:100px;}
.blackbox .blackbox_container h1{font-family: 'TeXGyreTermes-Regular'; color:#fff; font-size:24px; margin-top:80px; margin-bottom:0px;}
.blackbox .blackbox_container img{max-width:1280px; width:90%; margin:0 auto; height:auto;}
.blackbox span,
.fancybox-overlay .blackbox_control span{color:#fff; display:inline-block; padding:60px 30px; padding-right:100px; cursor:pointer;}


.fancybox-overlay{background:url(../images/transparent1.png);}

/* HOMEPAGE VIDEO LIGHTBOX */
html.fancybox-lock, html.fancybox-lock body {
            overflow: visible !important;
}

html.fancybox-lock body .fancybox-overlay{
	overflow: hidden !important;
}

@media (max-width:480px){
	.blackbox_control span{padding-right:30px;}
	.navbar-header .breadcrumbx{display:none;}
}


.disclaimerx{font-size:8px; max-width:600px; width:90%; margin:0 auto; padding:20px 0px; margin-bottom:50px;}

