@charset "UTF-8";

/* SECTION LOCATION */
.clsBarInner{cursor:pointer;}
.msd_maincontainer{background-color:#fff; max-width:1280px; width:85%; margin:0 auto; margin-top:5px; padding-top:20px; color:#673e4e;}
.loc_map1{text-align:center;}
.loc_map1 img{width:90%; height:auto; margin:0 auto;}
.texture-overlay{display:none!important;}
.clsPurple{padding:20px 0px!important;}

/* LEGEND */
.loc_map1_legend .loc_map1_legend_cols p span{display:inline-block; margin-right:6px;
border-radius: 50%!important; behavior: url(PIE.htc)!important; /* remove if you don't care about IE8 */
text-align:center; font-size:12px; padding-top:4px; width: 23px; height: 23px; color:#fff;
}
.type1{background-color: #7b6348;}
.type2{background-color: #1e5979;}
.type3{background-color: #5f7a73;}

/* RESIDENCES */
.loc_map1_legend, .loc2_map1_legend{max-width:65%; margin:0 auto; margin-top:30px;}
.loc_map1_legend .loc_map1_legend_cols, .loc2_map1_legend .loc_map1_legend_cols{float:left; width:50%;}
.loc_map1_legend .loc_map1_legend_cols_h1, .loc2_map1_legend .loc_map1_legend_cols_h1{font-family: 'TeXGyreTermes-Regular'; font-size:21px; border-bottom:1px solid #e4dcdd; line-height:21px; margin-top:10px;}
.loc_map1_legend .loc_map1_legend_cols_h1 span, .loc2_map1_legend .loc_map1_legend_cols_h1 span{font-size:16px; color:#b4a782;}
.loc_map1_legend .loc_map1_legend_cols p, .loc2_map1_legend .loc_map1_legend_cols p{margin:3px 10px!important;}
.loc_map1_legend .loc_map1_legend_set, .loc2_map1_legend .loc_map1_legend_set{margin-bottom:20px;}
.clsBarInner{color:#fff;}



/* Location */
.loc2_map1_legend .loc_map1_legend_cols p span{color:#b4a782;}
.loc2_map1_legend .icon1{background:url(../../img/img_location/icon_landmarks.jpg) top left no-repeat; display:block; padding:10px 0px 10px 45px; background-position:7px 0px;}
.loc2_map1_legend .icon2{background:url(../../img/img_location/icon_medical.jpg) top left no-repeat; display:block; padding:8px 0px 10px 45px; background-position:9px 0px;}
.loc2_map1_legend .icon3{background:url(../../img/img_location/icon_amenities.jpg) top left no-repeat; display:block; padding:6px 0px 10px 45px; background-position:2px 0px;}
.loc2_map1_legend .icon4{background:url(../../img/img_location/icon_retail.jpg) top left no-repeat; display:block; padding:10px 0px 10px 45px; background-position:5px 0px;}
.loc2_map1_legend .icon5{background:url(../../img/img_location/icon_education.jpg) top left no-repeat; display:block; padding:3px 0px 10px 45px; background-position:5px 0px;}
.loc2_map1_legend .icon6{background:url(../../img/img_location/icon_administrative.jpg) top left no-repeat; display:block; padding:7px 0px 10px 45px; background-position:7px 0px;}


.mod_location_slider{width:100%; margin-bottom:10px;
-webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}
.clsBarInner{
	-webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
	max-width:550px;
	width:100%;
	}
.mod_location_slider_box{position:absolute;}
.mod_location_slider .mod_location_slider_item{display:none; width:100%; padding:0px 30px;}
.mod_location_slider .mod_location_slider_item:nth-child(1){display:block;}
.mod_location_slider .mod_location_slider_item .thumb{text-align:center;}
.mod_location_slider .mod_location_slider_item .thumb img{max-width:550px; width:100%; margin:0 auto;}
.mod_location_slider .mod_location_slider_item .desc{max-width:700px; width:100%; margin:0 auto; padding-top:30px;}
.mod_location_slider .mod_location_slider_item .desc p{text-align:center; margin-top:0px;}
.mod_location_slider .mod_location_slider_item .desc .clsPurple{padding:5px 0px!important; font-size:18px;}

.mod_location_slider .controlx{position:absolute; margin-top:16%; z-index:99;}

.mod_location_slider .controlx .controlx_box{max-width:553px; width:100%; margin:0 auto;}
.mod_location_slider .controlx .controlx_btn{cursor:pointer; font-size:31px; float:left;     position: relative;
    bottom: 633px;
    right: 22px;}
.mod_location_slider .controlx .controlx_btn:nth-child(2){float:right;}
.mod_location_slider .controlx .controlx_btn:nth-child(1):before{content:'\2329'; color:#b4a782;}
.mod_location_slider .controlx .controlx_btn:nth-child(2):before{content:'\232A'; color:#b4a782;position: relative;left:42px;}

/* FOR FLOOR PLAN */
#mod_location_slider1 .controlx{margin-top:31%;}
#mod_location_slider2 .controlx{margin-top:10%;}
#mod_location_slider3 .controlx{margin-top:13%;}
#mod_location_slider2 .thumb img{margin-bottom:30px;}



.paginax{padding-top:50px; display:none;}
.paginax span{border:1px solid #aaa; width:11px; height:11px; display:block; margin-bottom:4px;}
.paginax span.activex{background-color:#b4a880;}
.mod_location_slider .paginax .paginax_box{max-width:620px; width:100%; margin:0 auto; padding:0 10px;}


.slider-container{position:relative; top:0; left:0; margin-bottom:50px; margin-top:10px; overflow:hidden;}
.slider-container .image_interior{position:absolute;}
.slider-container p{margin-top:0!important;margin-bottom:0!important;}


.loclabel{margin-top:50px; margin-bottom:10px;}
.loclabel span{font-size:36px;}

/* LEVEL PLAN LEGEND */
.legend_levelplan{max-width:600px; width:100%; margin:0 auto; font-size:12px;}
.legend_levelplan p{text-align:left!important; font-weight:bold; color:#b4a782; border-bottom:1px solid #e4dcdd;}
.legend_levelplan .legend_levelplan_col1{float:left; width:50%;}
.legend_levelplan .legend_levelplan_col1 span{display:inline-block; height:11px; width:30px;}
.legend_levelplan .legend_levelplan_col1 span.white{border:1px solid #ccc; }

@media (max-width:750px){
	.legend_levelplan .legend_levelplan_col1{width:100%;}
	.nonex{display:none!important;}
	}

@media (max-width:600px){

.zoomMap1{display:none;}
.loc_map1_legend,
.loc2_map1_legend{max-width:80%;}

}

@media (max-width:480px){
	.loc2_map1_legend .icon6{background-position:7px 10px;}
	.loc_map1_legend .loc_map1_legend_cols_h1,
	.loc2_map1_legend .loc_map1_legend_cols_h1{font-size:16px;}
	.loclabel span{font-size:24px;}
	
	#mod_location_slider1 .controlx{margin-top:20%!important;}
	#mod_location_slider2 .controlx{margin-top:20%!important;}
	#mod_location_slider3 .controlx{margin-top:20%!important;}
}

@media (max-width:900px){
	.loc_map1_legend .loc_map1_legend_cols, .loc2_map1_legend .loc_map1_legend_cols{float:left; width:100%;}
	.mod_location_slider .controlx{margin-top:45%!important;}
}
@media (min-width:900px){
	.blackbox .blackbox_container iframe{border:1px solid #666;margin-top:100px;width: 70vw;height: calc(70vw/5*4);}
}