@charset "UTF-8";
/* CSS Document */

body{background-color:#888; 
	color:#fff;
}
.clear{clear:both;}

/* Customised Slider V1 */

.msd_slider, .msd_slider .blocker,
.msd_slider .msd_slider_colset,
.msd_slider .controlx{width:85%;}

.msd_slider{margin:0 auto; display:block;}
.msd_slider .blocker{width:100%; position:absolute; z-index:9999; display:none;}
.msd_slider .msd_slider_col{float:left; width:50%;}
.msd_slider .msd_slider_col .msd_slider_col_box{}
.msd_slider .msd_slider_col:nth-child(1) .msd_slider_col_box{padding: 0px 40px;}
.msd_slider .msd_slider_col:nth-child(2) .msd_slider_col_box{padding:30px 60px 30px 20px;}
.msd_slider .msd_slider_col .msd_slider_col_box img{width:100%; height:auto;}
.msd_slider .msd_slider_colset{position:absolute; margin:0 auto;}
.msd_slider .controlx{width:100%; position:relative; z-index:89;}
.msd_slider_data{display:none;}
.msd_slider .active{z-index:85;}

.msd_slider .controlx, .msd_slider .blocker{height:50px;}
.msd_slider .controlx .controlx_btn{cursor:pointer; display:inline-block; font-size:31px; position:absolute;}
.msd_slider .controlx .controlx_btn:nth-child(2){right:0;}
.msd_slider .controlx .controlx_btn:nth-child(1):before{content:'\2329'; color:#b5a682;}
.msd_slider .controlx .controlx_btn:nth-child(2):before{content:'\232A'; color:#b5a682;}

@media (max-width:990px) {
	.msd_slider .msd_slider_col{width:100%;}
	.msd_slider .msd_slider_col .msd_slider_col_box{padding:10px 50px!important;}
	.msd_slider .msd_slider_col:nth-child(1) .msd_slider_col_box{padding-top:40px!important;}
}
